.navbar .navbar-brand {
    padding: 0px;
}
.navbar .navbar-brand img {
    width: auto;
    max-height: 50px;
}
.navbar {
    background-color: #fff;
    color: #555;
    border: 0;
}

.navbar .container {
    padding: 10px 0px;
}

.navbar .navbar-nav > li > a {
    text-transform: uppercase;
    font-size: 12px;
    color: #555;
}
.header-filter {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-position: center center;
    background-size: cover;
}

.hestia-title {
    margin: 20px 0px 10px;
    color: #fff;
    font-family: "Roboto", "Times New Roman", serif !important;
    font-weight: 400;
}

.section {
    padding: 70px 0px;
}
.description p {
    line-height: 1.7;
    font-size: 20px;
}
.element-wrapper {
    padding: 10px;
}

.element-right {
    text-align: right;
}
.element-left {
    text-align: left;
}

.element-wrapper img {
    width: 100%;
    font-weight: 100;
}

.end {
    text-align: center;
}

h3 {
    font-size: 32px;
    font-weight: 300;
}

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    color: #3c4858;
    font-size: 20px;
}

.fb-comments {
    width: 100%;
    min-width: 100%;
}

.fb-comments h3 {
   padding: 10px 0px;
}