<!DOCTYPE html>
<html lang="{{ site.lang | default: "vi" }}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Pê cê bóc – Mạng xã hội nổi tiếng thế giới dành cho người Việt</title>
        <link rel="stylesheet" id="bootstrap-css" href="/assets/bootstrap.min.css" type="text/css" media="all">
        <link rel="icon" href="/assets/images/cropped-logo-transparent-1.png?fit=32%2C32&amp;ssl=1"
sizes="32x32">
        <link rel="icon" href="/assets/images/cropped-logo-transparent-1.png?fit=192%2C192&amp;ssl=1"
        sizes="192x192">
        <link rel="apple-touch-icon-precomposed" href="/assets/images/cropped-logo-transparent-1.png?fit=180%2C180&amp;ssl=1">
        
        <link rel="stylesheet" id="hestia-font-sizes-css" href="/assets/font-sizes.css" type="text/css" media="all">
        <link rel="stylesheet" id="dashicons-css" href="/assets/dashicons.min.css" type="text/css" media="all">
        <link rel="stylesheet" id="obfx-module-pub-css-menu-icons-0-css" href="/assets/font-awesome.min.css" type="text/css" media="all">
        <link rel="stylesheet" id="chld_thm_cfg_parent-css" href="/assets/style.css" type="text/css" media="all">
        
        <!-- <link rel="stylesheet" id="hestia_fonts-css" href="./assets/css" type="text/css" media="all"> -->
        <link rel="stylesheet" id="jetpack-widget-social-icons-styles-css" href="/assets/social-icons.css" type="text/css" media="all">
        <link rel="stylesheet" id="social-logos-css" href="/assets/social-logos.min.css" type="text/css" media="all">
        <link rel="stylesheet" id="jetpack_css-css" href="/assets/jetpack.css" type="text/css" media="all">
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css">


        <link rel="stylesheet" id="hestia_fonts-css" href="/assets/css.css" type="text/css" media="all"
        <link rel="stylesheet" id="zvr-font-css" href="/assets/css_002.css" type="text/css" media="all">
        <link rel="stylesheet" id="zvr-style-css" href="/assets/zvr-styles.css" type="text/css" media="all">
        <!-- <link rel="stylesheet" id="chld_thm_cfg_parent-css" href="/assets/style.css" type="text/css" media="all"> -->
        <link rel="stylesheet" id="font-awesome-css" href="/assets/font-awesome_002.css" type="text/css" media="all">
        <link rel="stylesheet" id="hestia_style-css" href="/assets/style_002.css" type="text/css" media="all">
        <link rel="stylesheet" id="jetpack-widget-social-icons-styles-css" href="/assets/social-icons.css" type="text/css" media="all">
        <link rel="stylesheet" id="elementor-icons-css" href="/assets/elementor-icons.css" type="text/css" media="all">
        <link rel="stylesheet" id="elementor-animations-css" href="/assets/animations.css" type="text/css" media="all">
        <link rel="stylesheet" id="elementor-frontend-css" href="/assets/frontend.css" type="text/css" media="all">
        <link rel="stylesheet" id="hestia-elementor-style-css" href="/assets/page-builder-style.css" type="text/css" media="all">
        <link rel="stylesheet" id="elementor-post-49-css" href="/assets/post-49.css" type="text/css" media="all">
        <link rel="stylesheet" id="social-logos-css" href="/assets/social-logos.css" type="text/css" media="all">
        <link rel="stylesheet" id="jetpack_css-css" href="/assets/jetpack.css" type="text/css" media="all">

        <link rel="icon" href="/assets/images/cropped-logo-transparent-1.png?fit=32%2C32&amp;ssl=1"
            sizes="32x32">
        <link rel="icon" href="/assets/images/cropped-logo-transparent-1.png?fit=192%2C192&amp;ssl=1"
            sizes="192x192">
        <link rel="apple-touch-icon-precomposed" href="https://i0.wp.com/www.peteboc.com/wp-content/uploads/2018/06/cropped-logo-transparent-1.png?fit=180%2C180&amp;ssl=1">
        <meta name="msapplication-TileImage" content="https://i0.wp.com/www.peteboc.com/wp-content/uploads/2018/06/cropped-logo-transparent-1.png?fit=270%2C270&amp;ssl=1">
        <link rel="stylesheet" type="text/css" id="gravatar-card-css" href="/assets/hovercard.css">
        <link rel="stylesheet" type="text/css" id="gravatar-card-services-css" href="/assets/services.css">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120918665-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-120918665-1');
        </script>

    </head>
   
    {{ content }}
   
</html>