
<link rel="profile" href="https://gmpg.org/xfn/11">

<link rel="dns-prefetch" href="https://s0.wp.com/">
<link rel="dns-prefetch" href="https://secure.gravatar.com/">
<link rel="dns-prefetch" href="https://maxcdn.bootstrapcdn.com/">
<link rel="dns-prefetch" href="https://fonts.googleapis.com/">
<link rel="dns-prefetch" href="https://s.w.org/">
<link rel="alternate" type="application/rss+xml" title="Dòng thông tin Pê cê bóc »" href="feed/">
<link rel="alternate" type="application/rss+xml" title="Dòng phản hồi Pê cê bóc »" href="comments/feed/">

<link rel="dns-prefetch" href="https://v0.wordpress.com/">
<link rel="dns-prefetch" href="https://i0.wp.com/">
<link rel="dns-prefetch" href="https://i1.wp.com/">
<link rel="dns-prefetch" href="https://i2.wp.com/">
<link rel="dns-prefetch" href="https://widgets.wp.com/">
<link rel="dns-prefetch" href="https://s0.wp.com/">
<link rel="dns-prefetch" href="https://0.gravatar.com/">
<link rel="dns-prefetch" href="https://1.gravatar.com/">
<link rel="dns-prefetch" href="https://2.gravatar.com/">


<meta property="og:type" content="website">
<meta property="og:title" content="Pê cê bóc">
<meta property="og:description" content="Mạng xã hội nổi tiếng thế giới dành cho người Việt">
<meta property="og:url" content="http://www.peceboc.com/">
<meta property="og:site_name" content="Pê cê bóc">
<meta property="og:image" content="/assets/images/cropped-logo-transparent-1.png?fit=512%2C512&amp;ssl=1">
<meta property="og:image:width" content="512">
<meta property="og:image:height" content="512">
<meta property="og:locale" content="vi_VN">
<meta name="twitter:text:title" content="Front Page">
<meta name="twitter:image" content="/assets/images/cropped-logo-transparent-1.png?fit=240%2C240&amp;ssl=1">
<meta name="twitter:card" content="summary">
<meta name="msapplication-TileImage" content="/assets/images/cropped-logo-transparent-1.png?fit=270%2C270&amp;ssl=1">

<!-- <script src="./assets/wp-emoji-release.min.js" type="text/javascript" defer=""></script> -->